In [1]:
!pip install sqlalchemy
!pip install pyhive
!pip install thrift
!pip install sasl
!pip install thrift-sasl 
!pip install psycopg2

import psycopg2
import sqlalchemy
import pandas as pd
from sqlalchemy.engine import create_engine

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (1.4.37)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: pyhive in /opt/conda/lib/python3.10/site-packages (0.6.5)
Requirement already satisfied: future in /opt/conda/lib/python3.10/site-packages (from pyhive) (0.18.2)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.10/site-packages (from pyhive) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil->pyhive) (1.16.0)
Requirement already satisfied: thrift in /opt/conda/lib/python3.10/site-packages (0.16.0)
Requirement already satisfied: six>=1.7.2 in /opt/conda/lib/python3.10/site-packages (from thrift) (1.16.0)
Requirement already satisfied: sasl in /opt/conda/lib/python3.10/site-packages (0.3.1)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from sasl) (1.16.0)
Requirement already satisfied: thrift-sasl in /opt/conda/lib/python3.10/site-packages (0.4.3)
Requirement already satisfied: thrift>=0.10.0 in /opt/conda/lib/python3.10/site-packages (from thrift-sasl) (0.16.0)
Requirement already satisfied: pure-sasl>=0.6.2 in /opt/conda/lib/python3.10/site-packages (from thrift-sasl) (0.6.2)
Requirement already satisfied: six>=1.13.0 in /opt/conda/lib/python3.10/site-packages (from thrift-sasl) (1.16.0)
Requirement already satisfied: psycopg2 in /opt/conda/lib/python3.10/site-packages (2.9.3)

In [3]:
SQLALCHEMY_DATABASE_URL = "postgresql://hive:pssd@postgres-hms:5432/metastore"

engine = create_engine(SQLALCHEMY_DATABASE_URL)
pd.read_sql_query("SELECT datname FROM pg_database;",con=engine)

     datname
0   postgres
1  metastore
2  template1
3  template0

In [19]:
pd.read_sql_query("""
select pid,
       usename as username,
       datname as database_name,
       query,
       application_name,
       backend_start,
       state,
       state_change
from pg_stat_activity
order by backend_start desc
""",con=engine)

,pid,username,database_name,query,application_name,backend_start,state,state_change
0,2704,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:52:10.121349+00:00,idle,2022-07-06 09:52:10.124361+00:00
1,2695,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:52:08.697412+00:00,idle,2022-07-06 09:52:08.700644+00:00
2,2686,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:52:03.958122+00:00,idle,2022-07-06 09:52:03.961008+00:00
3,2684,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:52:01.307206+00:00,idle,2022-07-06 09:52:01.310091+00:00
4,2682,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:59.872149+00:00,idle,2022-07-06 09:51:59.874862+00:00
5,2673,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:58.160871+00:00,idle,2022-07-06 09:51:58.163883+00:00
6,2662,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:53.670721+00:00,idle,2022-07-06 09:51:53.674296+00:00
7,2660,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:53.396401+00:00,idle,2022-07-06 09:51:53.399187+00:00
8,2658,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:53.260958+00:00,idle,2022-07-06 09:51:53.264893+00:00
9,2656,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:52.690125+00:00,idle,2022-07-06 09:51:52.693025+00:00
10,2654,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:52.609955+00:00,idle,2022-07-06 09:51:52.612989+00:00
11,2652,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:49.530271+00:00,idle,2022-07-06 09:51:49.533173+00:00
12,2643,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:44.761250+00:00,idle,2022-07-06 09:51:44.764747+00:00
13,2634,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:43.032602+00:00,idle,2022-07-06 09:51:43.036117+00:00
14,2632,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:40.898297+00:00,idle,2022-07-06 09:51:40.901984+00:00
15,2623,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:38.348729+00:00,idle,2022-07-06 09:51:38.352500+00:00
16,2621,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:35.024786+00:00,idle,2022-07-06 09:51:35.028276+00:00
17,2612,hive,metastore,COMMIT,PostgreSQL JDBC Driver,2022-07-06 09:51:31.846092+00:00,idle,2022-07-06 09:53:29.993786+00:00
18,2610,hive,metastore,SET application_name = 'PostgreSQL JDBC Driver',PostgreSQL JDBC Driver,2022-07-06 09:51:30.072615+00:00,idle,2022-07-06 09:51:30.075912+00:00
19,2608,hive,metastore,SHOW TRANSACTION ISOLATION LEVEL,PostgreSQL JDBC Driver,2022-07-06 09:51:29.794930+00:00,idle,2022-07-06 09:53:27.777181+00:00
20,2232,hive,metastore,"\nselect pid,\n usename as username,\n ...",,2022-07-06 09:47:07.696632+00:00,active,2022-07-06 09:54:02.941917+00:00
21,65,None,None,,,2022-07-06 09:21:54.750419+00:00,None,NaT
22,67,hive,None,,,2022-07-06 09:21:54.750284+00:00,None,NaT
23,64,None,None,,,2022-07-06 09:21:54.749704+00:00,None,NaT
24,63,None,None,,,2022-07-06 09:21:54.749357+00:00,None,NaT
25,62,None,None,,,2022-07-06 09:21:54.749095+00:00,None,NaT